@import '~miew/dist/Miew.css';
@import '~jquery.terminal/css/jquery.terminal.css';

html, body {
  height: 100%;
  overflow: hidden;
}

main {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;

  &#sidebar {
    max-height: 100vh;
    overflow: auto;
  }
}

section {
  border: black 1px solid;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

div#miew-container {
  width: 1280px;
  height: 720px;

  margin-right: 20px;
}

div#terminal-wrapper {
  height: 250px;
  overflow: auto;
  width: 99%;
}

.error {
  color: red;
  font-weight: bold;
}

ul {
  text-align: left;
}

hr {
  width: 90%;
}
