@import '~miew/dist/Miew.css';
@import '~jquery.terminal/css/jquery.terminal.css';

main {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

section {
  border: black 1px solid;
  text-align: center;
}

div#miew-container {
  width: 1280px;
  height: 729px;

  margin-right: 20px;
}

div#terminal-wrapper {
  height: 250px;
  overflow: scroll;
}

.error {
  color: red;
  font-weight: bold;
}

ul {
  text-align: left;
}

hr {
  width: 90%;
}
